<%= form_tag(links_path, method: :get) do %>
  Search for: <%= text_field_tag :q, params[:q], autofocus: true %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<ul>
  <% @links.each do |link| %>
    <li>
      <a href="<%= link.url %>"><%= link.text %></a>
      <p><%= link.blurb %></p>
    </li>
  <% end %>
</ul>
